@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v21-latin-300.woff2") format("woff2"),
    url("../fonts/poppins-v21-latin-300.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v21-latin-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v21-latin-500.woff2") format("woff2"),
    url("../fonts/poppins-v21-latin-500.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v21-latin-700.woff2") format("woff2"),
    url("../fonts/poppins-v21-latin-700.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Recoleta-Regular-400.woff2") format("woff2"),
    url("../fonts/Recoleta-Regular-400.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Recoleta-Medium-500.woff2") format("woff2"),
    url("../fonts/Recoleta-Medium-500.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Recoleta-SemiBold-600.woff2") format("woff2"),
    url("../fonts/Recoleta-SemiBold-600.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Recoleta-Bold-700.woff2") format("woff2"),
    url("../fonts/Recoleta-Bold-700.ttf") format("truetype");
}
