.link-border {
  display: block;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5;
  width: fit-content;
  padding: 0.94em 1.87em;
  color: var(--thirdly);
  background-color: var(--accent);
  border: none;
  border-radius: 2.5em;
  box-shadow: 5px 5px 30px 0 var(--accent-shade1);
  transition: box-shadow, 0.2s;

  @media screen and (min-width: $bp-laptop) {
    &:hover {
      box-shadow: 5px 5px 30px 0 var(--accent-shade3);
    }
  }
}
