.price-card {
  background-color: var(--thirdly);
  border: none;
  border-radius: 30px;

  &__normal {
    padding: 2.19em 2.5em; /* 35px 40px for desktop */
  }

  &__sticker {
    padding: 2.75em 2.5em 2.5em; /* 44px 40px 40px for desktop */
    position: relative;
    box-shadow: 10px 10px 30px 0px var(--secondary-shade);

    &::after {
      content: "Popular";
      width: 84px;
      height: 30px;
      padding: 6px 12px 6px 22px;
      color: var(--thirdly);
      background-image: url("../images/price-sticker.png");
      background-image: -webkit-image-set(
        url("../images/price-sticker@2x.webp") 2x,
        url("../images/price-sticker.webp") 1x,
        url("../images/price-sticker@2x.png") 2x,
        url("../images/price-sticker.png") 1x
      );
      background-image: image-set(
        url("../images/price-sticker@2x.webp") type("image/webp") 2x,
        url("../images/price-sticker.webp") type("image/webp") 1x,
        url("../images/price-sticker@2x.png") type("image/png") 2x,
        url("../images/price-sticker.png") type("image/png") 1x
      );
      background-repeat: no-repeat;
      background-position: top right;
      background-size: cover;
      font-weight: 400;
      line-height: 1.5;
      position: absolute;
      top: 0;
      right: 0;

      @media screen and (min-width: $bp-desktop) {
        width: 118px;
        height: 44px;
        padding: 10px 23px 10px 33px;
      }
    }
  }

  &__title {
    margin-bottom: 0.33em;
  }

  &__text {
    margin-bottom: 1.25em;
  }

  &__subtitle {
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.5;
    color: var(--secondary);
    margin-bottom: 15px;
    position: relative;
    left: 0.6em;

    &--span {
      font-family: inherit;
      font-size: 1.25em;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
      position: absolute;
      top: 0;
      left: -0.6em;
    }
  }

  &__list {
    line-height: 1.5;
    color: var(--secondary);
    margin-bottom: 1.87em;
  }

  &__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.81em;

    &::before {
      content: "";
      width: 1.25em;
      height: 1.25em;
      background-image: url("../images/card-list-item.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-right: 0.94em;
      display: flex;
      align-items: center;

      @media screen and (min-width: $bp-desktop) {
        width: 1.375em;
        height: 1.375em;
      }
    }
  }
}
