.section {
  padding: 40px 0 40px;

  @media screen and (min-width: $bp-tablet) {
    padding: 60px 0 60px;
  }

  @media screen and (min-width: $bp-desktop) {
    padding: 120px 0 120px;
  }
}

.section-0 {
  padding: 0;
}
