.swiper-feedback {
  max-width: 480px;
  margin: 0 auto;
  position: relative;

  @media screen and (min-width: $bp-tablet) {
    max-width: 560px;
  }

  @media screen and (min-width: $bp-desktop) {
    max-width: 740px;
    padding-top: 24px;
    transform: translateX(-3%);
  }

  &::before {
    content: "";
    display: none;

    @media screen and (min-width: $bp-tablet) {
    }

    @media screen and (min-width: $bp-desktop) {
      display: block;
      width: 46px;
      height: 26px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-70%);
      z-index: 10;
      background-image: url("../images/feedback-polygon-1.png");
      background-image: -webkit-image-set(
        url("../images/feedback-polygon-1@2x.webp") 2x,
        url("../images/feedback-polygon-1.webp") 1x,
        url("../images/feedback-polygon-1@2x.png") 2x,
        url("../images/feedback-polygon-1.png") 1x
      );
      background-image: image-set(
        url("../images/feedback-polygon-1@2x.webp") type("image/webp") 2x,
        url("../images/feedback-polygon-1.webp") type("image/webp") 1x,
        url("../images/feedback-polygon-1@2x.png") type("image/png") 2x,
        url("../images/feedback-polygon-1.png") type("image/png") 1x
      );
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__slide {
    padding: 20px 30px;
    background-color: var(--thirdly);
    border: none;
    border-radius: 15px;

    @media screen and (min-width: $bp-tablet) {
      padding: 25px 30px;
    }

    @media screen and (min-width: $bp-desktop) {
      padding: 30px 40px;
    }
  }

  &__text {
    margin-bottom: 25px;
  }

  &__title {
    font-size: 1.125em;
    font-weight: 600;
    margin-bottom: 0;
  }
}

.swiper-wrapper {
  box-sizing: inherit;
  margin: 0 auto;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-next,
.swiper-button-prev {
  top: 50%;
  transform: translateY(-25%);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.5em;
  color: var(--accent-shade1);
}
